---
import '../global.css'
import BaseLayout from '../layouts/base.astro'

if (Astro.url.pathname === '/') {
	return Astro.redirect('/design')
}
---

<BaseLayout title="Meanc's Blog" description="Meanc's Blog">
	<body>
		<ul class="flex gap-10 w-full flex-wrap justify-center px-10"></ul>
	</body>
</BaseLayout>
