---
import '../../global.css'
import DesignLayout from '../../layouts/design.astro'
---

<DesignLayout title="设计作品" description="设计作品展示">
  <section class="max-w-2xl mx-auto px-4 py-8 pt-40">
    <div class="space-y-8"></div>
    暂未上线
  </section>
</DesignLayout>
